USE [BibliotecaVirtual]
GO
/****** Object:  Table [dbo].[Autor]    Script Date: 05/07/2015 06:38:10 a.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Autor](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](100) NOT NULL,
	[Nacionalidad] [varchar](30) NOT NULL,
	[Edad] [varchar](3) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[LibAut]    Script Date: 05/07/2015 06:38:10 a.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LibAut](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdAutor] [int] NOT NULL,
	[IdLibro] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Libro]    Script Date: 05/07/2015 06:38:10 a.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Libro](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Titulo] [nvarchar](100) NOT NULL,
	[Editorial] [nvarchar](100) NOT NULL,
	[Area] [nvarchar](100) NOT NULL,
	[Imagen] [varbinary](max) NULL,
 CONSTRAINT [PK__Libro__3214EC072895B5D7] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Prestamo]    Script Date: 05/07/2015 06:38:10 a.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Prestamo](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Username] [varchar](100) NOT NULL,
	[IdLibro] [int] NOT NULL,
	[FechaPrestamo] [date] NULL,
	[FechaDevolucion] [date] NULL,
	[Devuelto] [char](1) NULL,
 CONSTRAINT [PK_Prestamo] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Autor] ON 

INSERT [dbo].[Autor] ([Id], [Nombre], [Nacionalidad], [Edad]) VALUES (1, N'Juan Rufol', N'mexicano', N'45')
INSERT [dbo].[Autor] ([Id], [Nombre], [Nacionalidad], [Edad]) VALUES (2, N'Willian Golding', N'Alemania', N'50')
INSERT [dbo].[Autor] ([Id], [Nombre], [Nacionalidad], [Edad]) VALUES (3, N'Barbara Gostmich', N'Francia', N'33')
SET IDENTITY_INSERT [dbo].[Autor] OFF
SET IDENTITY_INSERT [dbo].[LibAut] ON 

INSERT [dbo].[LibAut] ([Id], [IdAutor], [IdLibro]) VALUES (1, 1, 1)
INSERT [dbo].[LibAut] ([Id], [IdAutor], [IdLibro]) VALUES (2, 2, 2)
INSERT [dbo].[LibAut] ([Id], [IdAutor], [IdLibro]) VALUES (3, 3, 3)
SET IDENTITY_INSERT [dbo].[LibAut] OFF
SET IDENTITY_INSERT [dbo].[Libro] ON 

SET IDENTITY_INSERT [dbo].[Libro] OFF
SET IDENTITY_INSERT [dbo].[Prestamo] ON 

INSERT [dbo].[Prestamo] ([Id], [Username], [IdLibro], [FechaPrestamo], [FechaDevolucion], [Devuelto]) VALUES (1, N'test@test.com', 16, CAST(0x273A0B00 AS Date), CAST(0x2C3A0B00 AS Date), N'N')
INSERT [dbo].[Prestamo] ([Id], [Username], [IdLibro], [FechaPrestamo], [FechaDevolucion], [Devuelto]) VALUES (2, N'test@test.com', 17, CAST(0x273A0B00 AS Date), CAST(0x2C3A0B00 AS Date), N'N')
SET IDENTITY_INSERT [dbo].[Prestamo] OFF
ALTER TABLE [dbo].[LibAut]  WITH CHECK ADD FOREIGN KEY([IdAutor])
REFERENCES [dbo].[Autor] ([Id])
GO
ALTER TABLE [dbo].[Prestamo]  WITH CHECK ADD  CONSTRAINT [FK__Prestamo__IdLibr__1DE57479] FOREIGN KEY([IdLibro])
REFERENCES [dbo].[Libro] ([Id])
GO
ALTER TABLE [dbo].[Prestamo] CHECK CONSTRAINT [FK__Prestamo__IdLibr__1DE57479]
GO
