@model IEnumerable<BibliotecaVirtual.Common.Libro.LibroListViewModel>

@using (Html.BeginForm("Generar", "Prestamo", FormMethod.Post))
{
    <table class="table">
        <tr>
            <td>
                @foreach (var item in Model)
                {
                    <div style="display:inline-block;margin:10px 10px 10px 10px;">
                        <img src="data:image/png;base64,@Convert.ToBase64String(item.Imagen, 0, item.Imagen.Length)" height="250" width="120" />
                        <br />
                        <input type="checkbox" name="ids" value="@item.Id" />
                        <b>@Html.DisplayFor(modelItem => item.Titulo)</b>
                    </div>
                }
            </td>
        </tr>
    </table>
    <hr />
    <input type="submit" value="Generar Prestamo" class="btn btn-success" />

}