@{
    ViewBag.Title = "Index";
}

<h2>Reserva</h2>


<div class="form-inline">
    
    <div class="form-group">
        <label class="control-label col-md-2">Nombre</label>
        <div class="col-md-10">
            <input type="text" class="form-control" id="txtNombre"/>
        </div>

    </div>
    
    <div class="form-group">
        <label class="control-label col-md-2">Genero</label>
        <div class="col-md-10">
            <input type="text"  class="form-control" id="txtGenero"/>
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="button" value="Buscar Libro" id="btnBuscar" class="btn btn-success" />
        </div>
    </div>

</div>

<div id="lstSerchLibro" style="margin-top:30px;">
    
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

<script type="text/javascript">
    $('#btnBuscar').click(function () {

        var $nombre = $('txtNombre').val() || '';
        var $genero = $('txtGenero').val() || '';
        $.ajax({
            url: '@Url.Action("SearchLibro")',
            data: { nombre: $nombre,genero: $genero },
            type: 'GET',
            success: function (viewResult) {
                $('#lstSerchLibro').empty();
                $('#lstSerchLibro').html(viewResult);                
            }
        });
    });
</script>